<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- @version $Id$ -->
<!--
  - Log4j配置文件。
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- ===================================================================== -->
	<!-- Appenders                                                             -->
	<!-- ===================================================================== -->
	<!-- ===== [公共Appender] ===== -->
	<!-- [公共Appender] 默认 -->
	<appender name="DEFAULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/common-default.log"/>
		<param name="append" value="true"/>
		<param name="encoding" value="UTF-8"/>
		<param name="DatePattern" value="'.'yyyyMMdd" />
                <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p %c{2} - &quot;%m&quot;%n"/>
		</layout>
	</appender>
	<!-- [公共Appender] 汇总错误 -->
	<appender name="ERROR-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/common-error.log"/>
		<param name="append" value="true"/>
		<param name="encoding" value="UTF-8"/>
		<param name="threshold" value="error"/>
                <param name="DatePattern" value="'.'yyyyMMdd" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p %c{2} - &quot;%m&quot;%n"/>
		</layout>
	</appender>
	<!-- [公共Appender] 汇总性能统计 -->
	<appender name="PERF-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/common-perf.log"/>
		<param name="append" value="true"/>
		<param name="encoding" value="UTF-8"/>
                <param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
		</layout>
	</appender>
	<!-- [公共Appender] 控制台STDOUT -->
	<appender name="STDOUT-APPENDER" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8"/>
		<param name="target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p %c{2} - &quot;%m&quot;%n"/>
		</layout>
	</appender>
	<!-- [公共Appender] 控制台STDERR -->
	<appender name="STDERR-APPENDER" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8"/>
		<param name="target" value="System.err"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p %c{2} - &quot;%m&quot;%n"/>
		</layout>
	</appender>
	<!-- [公共Appender] 空 -->
	<appender name="NULL-APPENDER" class="org.apache.log4j.varia.NullAppender"/>
	<!-- [公共Appender] Jakarta commons -->
	<appender name="APACHE-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/common-apache.log"/>
		<param name="append" value="true"/>
		<param name="encoding" value="UTF-8"/>
                <param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
		</layout>
	</appender>
	<!-- [公共Appender] 数据访问层 -->
	<appender name="DAO-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/common-dao.log"/>
		<param name="append" value="true"/>
		<param name="encoding" value="UTF-8"/>
                <param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
		</layout>
	</appender>
	<!-- ===== [框架Appender] ===== -->
	<!-- [框架Appender] USFP 基础设施 - 默认 -->
	<appender name="USFP-DEFAULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/usfp-default.log"/>
		<param name="append" value="true"/>
		<param name="encoding" value="UTF-8"/>
                <param name="DatePattern" value="'.'yyyyMMdd" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
		</layout>
	</appender>
	<!-- ===== [应用Appender] ===== -->
	<!-- [应用Appender] 默认 -->
	<appender name="UCORE-DEFAULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/inventory-default.log"/>
		<param name="append" value="true"/>
		<param name="encoding" value="UTF-8"/>
                <param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d [%t] [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p %c{2} - &quot;%m&quot;%n"/>
		</layout>
	</appender>
	
	<!-- [应用Appender] 应用业务处理结果日志 -->
	<appender name="UCORE-BUSINESS-RESULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/inventory-biz-result.log"/>
		<param name="append" value="true"/>
		<param name="encoding" value="UTF-8"/>
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p - %m%n"/>
		</layout>
	</appender>
	<appender name="COMMON-BUSINESS-RESULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/inventory-business-result.log"/>
		<param name="append" value="true"/>
		<param name="encoding" value="UTF-8"/>
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d [%t] [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p %c{2} - &quot;%m&quot;%n"/>
		</layout>
	</appender>
	<appender name="SYSTEM-ERROR-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/common-sys-error.log"/>
		<param name="append" value="true"/>
		<param name="encoding" value="UTF-8"/>
	        <param name="DatePattern" value="'.'yyyyMMdd" /> 
		<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d [%t] [%X{loginUserEmail}/%X{loginUserID}/%X{remoteAddr}/%X{clientId} - %X{requestURIWithQueryString}] %-5p %c{2} - &quot;%m&quot;%n"/>
			
		</layout>
	</appender>
	
	<!-- <param name="ConversionPattern" value="%d [%t] %-5p %c{2} - %m%n"/> -->
	<!-- ===================================================================== -->
	<!-- Loggers                                                               -->
	<!-- ===================================================================== -->
	<!-- ===== [公共Logger] ===== -->
	<!-- [公共Logger] 性能 - service性能  -->
	<logger name="com.tuan.core.common.aop.pref.PerformanceMonitorInterceptor" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="PERF-APPENDER"/>
	</logger>
	<!-- [公共Logger] 控制台STDOUT - STDOUT -->
	<logger name="STDOUT" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="STDOUT-APPENDER"/>
	</logger>
	<!-- [公共Logger] 控制台STDERR - STDERR -->
	<logger name="STDERR" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="STDERR-APPENDER"/>
	</logger>
	<!-- ===== [框架Logger] ===== -->
	<!-- [框架Logger] Jakarta commons - 默认 -->
	<logger name="org.apache" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="APACHE-APPENDER"/>
		<appender-ref ref="ERROR-APPENDER"/>
	</logger>
	<!-- [框架Logger] Jakarta commons - beanutils -->
	<logger name="org.apache.commons.beanutils">
		<level value="ERROR"/>
		<appender-ref ref="APACHE-APPENDER"/>
		<appender-ref ref="ERROR-APPENDER"/>
	</logger>
	<!-- [框架Logger] 数据访问层 - Ibatis -->
	<logger name="com.ibatis" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="DAO-APPENDER"/>
		<appender-ref ref="ERROR-APPENDER"/>
	</logger>
	<!-- [框架Logger] 数据访问层 - SQL -->
	<logger name="java.sql" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="DAO-APPENDER"/>
		<appender-ref ref="ERROR-APPENDER"/>
	</logger>
	<!-- [框架Logger] USFP 基础设施层 - 默认日志 -->
	<logger name="com.tuan.core.common" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="USFP-DEFAULT-APPENDER"/>
		<appender-ref ref="ERROR-APPENDER"/>
	</logger>
	
	
	<!-- [应用Logger] 用户核心 - 业务结果日志 -->
	<logger name="com.tuan.core.common.aop.product" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="UCORE-BUSINESS-RESULT-APPENDER"/>
	</logger>
        <logger name="BUSINESS.USER" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="COMMON-BUSINESS-RESULT-APPENDER"/>
	</logger>
	<logger name="SYSERROR.LOG" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="SYSTEM-ERROR-APPENDER"/>
	</logger>
	<!-- [应用Logger] Memcache -->
	<logger name="com.danga">
		<level value="WARN"/>
		<appender-ref ref="DEFAULT-APPENDER"/>
		<appender-ref ref="ERROR-APPENDER"/>
	</logger>	
		
	<!-- ===================================================================== -->
	<!-- Root logger                                                           -->
	<!-- ===================================================================== -->
	<root>
		<level value="INFO"/>
		<appender-ref ref="DEFAULT-APPENDER"/>
		<appender-ref ref="ERROR-APPENDER"/>
	</root>
</log4j:configuration>